if ! test -f venv/pyenv.cfg || test requirements.txt -nt venv/pyenv.cfg; then
(
    set -x
    rm -rf venv
    python -m venv venv
    export PIP_DISABLE_PIP_VERSION_CHECK=1
    venv/bin/python -m pip install --upgrade pip
    venv/bin/python -m pip install -r requirements.txt
    touch venv/pyenv.cfg
)
fi
. venv/bin/activate
